.image-generator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.9);
  }

.header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    opacity: 0; /* Hide the header */
    transition: opacity 1s ease-in-out;
}

.header.active{
    opacity: 1; /* Show the header */
}

.search-box{
    margin-top: 50px;
    
}

.search-input {
    width: 490px;
    height: 30px;
    padding: 8px; /* Add padding to provide spacing inside the input */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 16px; /* Adjust font size */
    outline: none; /* Remove default outline */
}

.search-input:focus {
    border-color: blue; /* Change border color when input is focused */
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Add a box shadow when input is focused */
}

.search-btn {
    width: 100px;
    height: 47px; /* Adjust height as needed */
    padding: 8px 16px; /* Adjust padding for inner spacing */
    background-color: #007bff; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Set cursor to pointer on hover */
}


img{
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

img:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
}
